.border-team {
    border-style: solid;
    border-width: 1px;
    border-color: #3D3C3C;
    margin-top: 20px;
}

.nomark_list {
    list-style: none;
}

.table {
    border-style: solid;
    border-width: 1px;
}

li {
    margin-top: 2px;
}